<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>


    <form th:action="@{/login}" th:object="${loginForm}" method="post">

        <h2>Login</h2>

        <input id ="login-username" th:field="*{username}" type="text" placeholder="username" required="">
        <label for="login-username">Username</label>

        <input id="login-password" th:field="*{password}" type="password" placeholder="Password" autocomplete="off" required="">
        <label for="login-password">Password</label>

        <button type="submit" class="btn btn-primary">Login</button>

        <!-- Error message -->
        <div th:if="${errorMessage}">
            <p class="text-danger" th:text="${errorMessage}">Error message here</p>
        </div>

    </form>


</body>
</html>