<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Information Page</title>
</head>
<body>

<h2>호텔 정보 페이지</h2>

<div>
    <input id="hotel-info-id" th:field="*{hotelDto.hotelId}" type="text" required="" readonly>
    <label for="hotel-info-id">ID</label>
</div>


<div>
    <input id="hotel-info-name" th:field="*{hotelDto.name}" type="text" required="" readonly>
    <label for="hotel-info-name">Name</label>
</div>


<div>
    <input id="hotel-info-address" th:field="*{hotelDto.address}" type="text" required="" readonly>
    <label for="hotel-info-address">Address</label>
</div>


<div>
    <input id="hotel-info-phone" th:field="*{hotelDto.phone}" type="text" required="" readonly>
    <label for="hotel-info-phone">Phone</label>
</div>


<h4>객실 리스트</h4>
<div th:if="${hotelDto.getRoomList().size() != 0}">
    <table>
        <thead>
        <tr>
            <th>Code</th>
            <th>Headcount</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${hotelDto.getRoomList()}">
            <td th:text="${room.code}"></td>
            <td th:text="${room.headcount}"></td>
            <td th:text="${room.price}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${hotelDto.getRoomList().size() == 0}">
    <p>등록된 객실이 존재하지 않습니다.</p>
</div>


<!--버튼 2개-->
<a th:href="@{|/rooms/${hotelId}/new|}">객실 추가하기</a>
<a href="/">객실 삭제하기</a>

</body>
</html>